<% provide(:title, "About") %>
<h1>About</h1>
<p>
    Would you like prayer for something? Know a family in financial need? Want a hand
    with home repairs? Have time or skills to donate?
</p>
<p>
    You've heard of <strong>crowdfunding</strong> sites like Kickstarter or GoFundMe.
</p>
<p>
    Lovefund.us is the very first <strong>lovefunding</strong> site!
</p>
<p>
    The goal? To pray for and <strong>fund</strong> needs, with God's
    <strong>love</strong> through <strong>us</strong>, His church.
</p>
<p>
    Lovefund.us is an online portal for sharing prayer requests, and financial or
    service needs, for ourselves and others.
</p>
<p>
    It is also the place to fund these needs by donating our time, prayer, money,
    expertise... <strong>love.</strong>
</p>
<p>
  This web app was created by <a href="https://www.churchindrive.com/">The Church in Drive</a> and <a href="http://fruitful.software">Beau Carnes</a>.
  
</p>